# Django/Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.pot
*.log
*.env
.env.*
.DS_Store
.vscode/
.venv/
/media/
# IDE/editor
.idea/
*.swp
*.swo
# OS
Thumbs.db
# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
# Node/npm
node_modules/
# Misc
*.bak
*.tmp
